.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.overlay .close {
    cursor: pointer;
}

.thumbnail {
    background-color: #ddd;
    cursor: pointer;
    padding: 2em;
    width: 50px;
}