/* ----------- Colors ---------- */

.btn {
    -webkit-appearance: none;
    background: #fff;
    border: 0 none;
    color: $gray-dark;
	cursor: pointer;
	display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: .5em .8em;
    text-transform: uppercase;
    &:hover, &:focus {
        background-color: $mint;
        outline: 0 none;
    }
}

.close {
    @include position(absolute, 1rem 1rem null null);
    background: $gray-dark;   
    color: #fff;
    &:hover {
    	background-color: $red;
    }
} 